/* BASIC STRUCTURE */

.graphic-container-blog {
    width: 650px;
    padding-top: 12px;
    background-color: #EFECEA;
}

.graphic-container-feature {
    width: 900px;
    padding-top: 12px;
    background-color: #EFECEA;
}

.header-container {
    padding-top: 12px;
    padding-right: 22px;
    padding-bottom: 8px;
    padding-left: 22px;
    background-color: #F5F3F2;
    overflow:auto;
}

.header-title {
    width: 505px;
    margin: 0;
    float:left;
    text-align: left,
}

.header-logo {
    width: 100px;
    height: 37.5px;
    background-image: url('SunlightFoundation_logo.png');
    background-size: 100% 100%;
    float:right;
}

.chart-area {
    padding-top: 22px;
    padding-right: 0px;
    padding-bottom: 22px;
    padding-left: 22px;
}

.divider {
    width: 100%;
    height: 1px;
    margin: 0;
}

.divider.solid {
    background-color: #FFFFFF;
}

.divider.dashed {
    border-top: 1px dashed #C0C0BB;
    margin-top: 1px;
    margin-bottom: 1px;
}

.footer-container {
    height: 22px;
    padding-top: 8px;
    padding-left: 22px;
    padding-right: 22px;
    background-color: #E5E2E0;
}

/* TEXT */

.test-text {
    fill: none;
    stroke: none;
}

.main-title {
    font-family : "Franklin Gothic Book", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", "Arial Narrow", sans-serif;
    font-size : 20px;
    font-weight: normal;
    font-style: normal;
    color: #635F5D;
}
    
.main-title em {
    font-family : "Franklin Gothic Demi Cond", "Franklin Gothic Medium Cond", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
    font-style: normal;
}

.explanatory { 
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size : 12px;
    font-weight: normal;
    font-style: italic;
    color: #8E8883;
}

.axis text {
    font-size : 12px;
    font-weight: normal;
    font-style: normal;
    fill: #635F5D;
    stroke: none;
    font-family : "Franklin Gothic Book", "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

.axis .tick .unit {
    font-family : "Franklin Gothic Demi Cond", "Franklin Gothic Medium Cond", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;
}

.citation {
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size : 10px;
    font-weight: normal;
    font-style: italic;
    color: #8E8883;
}

.citation em {
    font-weight: bold;
    font-style: normal;
}

/* PLOT ELEMENTS */

.axis path,
.axis line {
    fill: none;
    stroke: #FFFFFF;
    stroke-width: 1px;
}

.y.axis text {
    text-anchor: middle;
}
